* {
margin: 0%;
padding: 0%;
}

.cabeçalho{
background-color: rgb(255, 255, 255);
color: rgb(14, 13, 13);
display: flex;
justify-content: space-around;
align-items: center;
padding: 24px 0;
}

.cabeçalho_imagem{
width: 12%;
}

.cabeçalho_titulo{
font-size: 60px;
}

.cabeçalho_lista_item{
margin: 25px 0px 25px 0px;
font-size: 16px;
}

.apresentaçao_trabalho{
background-image: linear-gradient(rgb(255, 255, 255), #ffffff);
display: flex;
justify-content: space-around;
align-items: center;
padding: 24px 0;
}

.titulo_apresentaçao_trabalho{
font-size: 30px;
}
.Sobre_o_trabalho{font: size 40px; ;
position:-ms-page;}
        

.imagem_arvore{
position: center;
size: 30px;
}



.texto-grande{
    justify-content: center;
    padding-top: 15cm;
    font-size: 100px;
    
}
